@page
@model SacramentProgram.Pages.Meetings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Meeting.MeetingDate" class="control-label"></label>
                <input asp-for="Meeting.MeetingDate" class="form-control" />
                <span asp-validation-for="Meeting.MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.WardName" class="control-label"></label>
                <input asp-for="Meeting.WardName" class="form-control" />
                <span asp-validation-for="Meeting.WardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Conducting" class="control-label"></label>
                <select asp-for="Meeting.ID" class="form-control"
                        asp-items="@Model.PersonDropDown">
                    <option value="">-- Select Person --</option>
                </select>
                <span asp-validation-for="Meeting.ID" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Presiding" class="control-label"></label>
                <select asp-for="Meeting.ID" class="form-control"
                        asp-items="@Model.PersonDropDown">
                    <option value="">-- Select Person --</option>
                </select>
                <span asp-validation-for="Meeting.ID" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Accompaniment" class="control-label"></label>
                <select asp-for="Meeting.ID" class="form-control"
                        asp-items="@Model.PersonDropDown">
                    <option value="">-- Select Person --</option>
                </select>
                <span asp-validation-for="Meeting.ID" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Meeting.LeadingMusic" class="control-label"></label>
                <select asp-for="Meeting.ID" class="form-control"
                        asp-items="@Model.PersonDropDown">
                    <option value="">-- Select Person --</option>
                </select>
                <span asp-validation-for="Meeting.ID" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Meeting.OpeningSong" class="control-label"></label>
                <input asp-for="Meeting.OpeningSong" class="form-control" />
                <span asp-validation-for="Meeting.OpeningSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.OpeningPrayer" class="control-label"></label>
                <select asp-for="Meeting.ID" class="form-control"
                        asp-items="@Model.PersonDropDown">
                    <option value="">-- Select Person --</option>
                </select>
                <span asp-validation-for="Meeting.ID" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Meeting.SacramentSong" class="control-label"></label>
                <input asp-for="Meeting.SacramentSong" class="form-control" />
                <span asp-validation-for="Meeting.SacramentSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.MusicalNumber" class="control-label"></label>
                <input asp-for="Meeting.MusicalNumber" class="form-control" />
                <span asp-validation-for="Meeting.MusicalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.IntermediateSong" class="control-label"></label>
                <input asp-for="Meeting.IntermediateSong" class="form-control" />
                <span asp-validation-for="Meeting.IntermediateSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.ClosingSong" class="control-label"></label>
                <input asp-for="Meeting.ClosingSong" class="form-control" />
                <span asp-validation-for="Meeting.ClosingSong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.ClosingPrayerId" class="control-label"></label>
                <select asp-for="Meeting.ID" class="form-control"
                        asp-items="@Model.PersonDropDown">
                    <option value="">-- Select Person --</option>
                </select>
                <span asp-validation-for="Meeting.ID" class="text-danger" />
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
