@page
@model SacramentProgram.Pages.Meetings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].MeetingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].ConductingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].PresidingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].AccompanimentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].LeadingMusicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].SongOneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].OpeningPrayerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].SpeakerOneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].SongTwoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].SpeakerTwoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].SpeakerThreeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].SongThreeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].MusicalNumberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].ClosingPrayerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meeting[0].WardName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Meeting) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConductingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresidingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccompanimentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadingMusicId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongOneId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningPrayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerOneId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongTwoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerTwoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerThreeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongThreeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusicalNumberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPrayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WardName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
